// INIT

@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

/* Hide scrollbar for Chrome */
*::-webkit-scrollbar {
  display: none;
}

* {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin: 0;

  padding: 0;
  user-select: none;
  box-sizing: border-box;
  transition: background 500ms;
  font-family: Montserrat-SemiBold;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: Montserrat-Regular;
  border-radius: 0.3rem;
}

button,
svg,
li {
  cursor: pointer;
}

ul {
  list-style: none;
}

// SETUP

:root {
  --color1: #3fa9b1;
  --color2: #ff7800;
  --color3: #f5f5f5;
  --color4: #ffc457;
  --color5: #02020f;
  --color6: #ffffff;
  --color7: #000000;
  --color8: #0c0c21;
  --color9: #007bff;
  --color10: #ebedee;
  --color9-50: #007bff50;
  --color11-aa: #0c0c21aa;

  color: var(--color6);
  background-color: var(--color5);
  scroll-behavior: smooth;
  font-family: Montserrat-SemiBold;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--color7);
  background-color: var(--color4);
  padding: 0.5rem;

  span {
    &::after {
      content: ".";
    }
  }

  button {
    background-color: var(--color6);

    &:hover {
      background-color: var(--color10);
    }
  }
}

.navbar {
  background-color: var(--color8);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;

  div.leftnav {
    display: flex;
    gap: 5rem;
    align-items: center;

    img {
      width: 110px;
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  div.rightnav {
    svg {
      fill: var(--color9);
      padding: 0.3rem;
    }

    button {
      display: none;

      a {
        color: inherit;
      }
    }
  }

  .profile-btn {
    p {
      display: inline;
      padding-left: 22px;
    }
    text-align: right;

    .small-identicon {
      display: inline;
      position: absolute;
      transform: translate(-3px, -2px);
      border-radius: 0.1rem;
      height: 18px;
    }
  }
}

.footer {
  transition: color 500ms;
  color: rgb(18, 56, 100);

  p {
    padding: 2rem 0.5rem;
    background-color: #01010a;
    text-align: center;
  }

  span {
    color: #01010a;
  }

  &:hover {
    color: #114c86;
  }
}

.go-to-top {
  font-size: 3rem;
  position: fixed;
  bottom: 7%;
  right: 8%;
  color: #123864;
  transition: color 500ms, display 2s, padding 400ms;

  &:hover {
    color: #007bff;
    padding-bottom: 0.5rem;
  }
}

// .hidden {
// visibility: hidden;
// }

.bottom-navbar-sm-screen {
  background-color: var(--color8);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;

  button {
    width: 100%;
    color: white;
    background-color:  inherit;
    font-family: Montserrat-SemiBold;
  }

  .profile-btn {
    width: 100%;
    p {
      display: inline;
      padding-left: 22px;
    }

    text-align: center;

    .small-identicon {
      display: inline;
      position: absolute;
      transform: translate(-3px, -2px);
      border-radius: 0.1rem;
      height: 18px;
    }
  }

}

@media all and (max-width: 880px) {
  .navbar {
    div.leftnav {
      gap: 2rem;
    }
  }
}

/* Laptops */

@media all and (min-width: 820px) {
  .notification {
    span {
      &::after {
        content: " for more recommendations on new tv shows and updates.";
      }
    }
  }

  .navbar {
    background: none;
    width: 95%;
    margin: 0 auto;
    background: #00000050;

    div.leftnav {
      ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 0.9rem;

        li {
          transition: color 300ms;
          a {
            color: inherit;
          }
        }

        li:hover {
          color: var(--color1);
        }
      }
    }

    div.rightnav {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        display: none;
      }

      button {
        display: inline;
        color: var(--color6);
        box-shadow: rgba(57, 78, 104, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 8px -1px,
          rgba(253, 253, 253, 0.18) 0px 1px 0px inset;
        font-family: Montserrat-Semibold;
        padding: 0.5rem 1rem;
        &.login {
          background-color: unset;
          color: var(--color6);
        }

        &.register {
          background-color: var(--color9);
        }

        &:hover {
          background-color: var(--color2);
        }
      }
    }
  }

  .bottom-navbar-sm-screen {
    display: none;
  }
}
